@import "tailwindcss";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
} */

/* button{
    background-color: green;
    color: black;
    padding: 10px;
    border-radius: 5px;
} */